@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --roxo-primario: #6a3fbf;
  --roxo-secundario: #8e6bdc;
  --roxo-claro: #ede7fb;
  --roxo-escuro: #3c1f70;
  --branco: #ffffff;
  --cinza: #6b6b6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

html, body {
  width: 100%;
  min-height: 100%;
  /* background: radial-gradient(
    circle at top left,
    var(--roxo-secundario),
    var(--roxo-escuro)
  ); */
}
